* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body{

  height: 100vh;
  /* background-color: #f1f1f1; */
}
a{
  cursor: pointer;
}
.dark{
  background-color: #202020 !important;
  color: #fff !important;
  transition: all ease-out .3s !important;
}
.light{
  background-color: #fff !important;
  color: #202020 !important;
  transition: all ease-out .3s !important;
}
.navbar-dark{
  background-color: #202020 !important;
  color: #fff !important;
  transition: all ease-out .3s !important;

}