.card{
    width: 210px;
}
.card-img {
    height: 150px;
    width: 160px;
    object-fit: cover;
    margin: 10px auto;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;

}
.card-body{
    padding: 10px;
}
.author-publication {
    margin-top: 10px;
    font-size: 13px;
    color: #777;
}

.genre {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
    font-weight: bold;
}
.free-badge{
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (max-width: 640px) {
    .card-img {
        height: 100px;
        width: 120px;
    }

    .card-title {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .author-publication {
        font-size: 11px;
        margin: 5px 0;
    }

    .genre {
        font-size: 9px;
    }
}